/obj
/jos.in
/jos.log
/jos.out
/jos.out.*
/jos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
/gradelib.pyc
/lab*-handin.tar.gz
/lab?/
/sol?/
/myapi.key
/.suf
.vscode/settings.json
.vscode/ipch/32c8ea3fb71ef457/kdebug.ipch
.vscode/ipch/32c8ea3fb71ef457/mmap_address.bin
.vscode/ipch/948ef570664facad/init.ipch
.vscode/ipch/c3395353ed5804a/mmap_address.bin
.vscode/ipch/c3395353ed5804a/pmap.ipch
__pycache__/gradelib.cpython-36.pyc
jos/.gdbinit
jos/jos.out
jos/qemu.log
jos/obj/.deps
jos/obj/.vars.INIT_CFLAGS
jos/obj/.vars.KERN_CFLAGS
jos/obj/.vars.KERN_LDFLAGS
jos/obj/boot/boot
jos/obj/boot/boot.asm
jos/obj/boot/boot.o
jos/obj/boot/boot.out
jos/obj/boot/main.o
jos/obj/kern/console.o
jos/obj/kern/entry.o
jos/obj/kern/entrypgdir.o
jos/obj/kern/init.o
jos/obj/kern/kdebug.o
jos/obj/kern/kernel
jos/obj/kern/kernel.asm
jos/obj/kern/kernel.img
jos/obj/kern/kernel.sym
jos/obj/kern/monitor.o
jos/obj/kern/printf.o
jos/obj/kern/printfmt.o
jos/obj/kern/readline.o
jos/obj/kern/string.o
